
body {
 width: 100%;
 max-width: 1510px;
 font-family: 'Inter', sans-serif;
 font-style: normal;
 font-weight: 400;
}

p,h1,h2,h3 {
    margin: 0;
}
header {
    width: inherit;
    display: flex;
    justify-content: flex-start;
    height: 80px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.container-heder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 50px;
}

.logo-img {
    width: 140px;
    height: 37px;
    margin: 21px auto 22px 100px;
}

.ul-header li {
    display: inline;
}

 .ul-header a  {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #744343;
    text-decoration: none;
    margin-left: 40px;
}
 
.contact  {
    font-size: 15px;
    line-height: 26px;
    padding: 14px 24px 16px 24px;
    margin-left: 570px;
    width: 82px;
    height: 26px;
    border-radius: 10px;
    text-align: center;
    background-color: #DD7979;
    color: #FFFFFF;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: inherit;
    height: 800px;

    background:  #FFF4F4
    url("../images/body/image1.png")
    no-repeat bottom 13px left 40px;
}

.intro_title {
    font-size: 48px;
    line-height: 58px;
    color: #744343;
    margin-bottom: 34px;
    text-align: center;
    margin-bottom: 34px;
}

.p-1 {
    font-size: 12px;
    line-height: 22px;
    color: #DD7979;
    text-transform: uppercase;
    text-align: center;
}

.p-2 {
    width: 903px;
    height: 84px;
    font-size: 18px;
    line-height: 28px;
    color: #967272;
    margin: 0 auto;
    text-align: center;
}

.img-p {
    width: 200px;
    height: 200px;
}

.img-blot {
    width: 400px;
    height: 400px;
}

.button_intro {
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-top: 57px;
}
.btn {
    font-size: 16px;
    line-height: 26px;
    width: 166px;
    height: 58px;
    border-radius: 10px;
    text-align: center;
    
}

.btn_left {
    padding: 14px 39px 18px 40px;
    background-color: #DD7979;
    color: #FFFFFF;
    border: 2px solid#DD7979;
}

.btn_right {
    padding: 16px 26px;
    border: 2px solid #744343;
    color: #744343;
    background-color: #FFF4F4;
    margin-left: 42px;

}

.intro_1 {
    width: inherit;
    height: 820px;
    border-radius: 25px;
    background-color: #DD7979;
    
}

.img_photo {
    width: 785px;
    height: 540px;
    position: absolute;
    left: 328px;
    top: 711px;
}

.block {
    display: flex;
}

.blocks {
    display: flex;
    width: 801px;
    height: 218px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin: 481px 863px 121px 320px;
}

.number__text {
    height: 50px;
    line-height: 50px;

    font-weight: 700;
    font-size: 40px;
    color: #744343;
}

.text__under__number {
    font-size: 18px;
    line-height: 28px;
    color: #DD7979;
}

.text_left {
    display: flex;
    flex-direction: column;
}

.fife {
    padding: 60px 107px 10px 107px;
}

.homepages {
    padding-left: 79px;
}

.text__center {
    display: flex;
    flex-direction: column;
}

.six {
    padding: 60px 107px 10px 105px;
}

.portfolio {
    padding-left: 60px;
}

.text_right {
    display: flex;
    flex-direction: column;
}

.forty__five {
    padding: 60px 86px 10px 100px;
}

.components {
    padding-left: 35px;
}

.layout{
    background: #FFF4F4
    url("../images/body/Vector.png")
    no-repeat;
    background-size: cover;
    padding-top: 120px;
    height: 2810px;
    
}

.layout__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.p_text_layouts {
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #DD7979;
    letter-spacing: 2px;
}

.layout__title{
    font-size: 48px;
    line-height: 58px;
    color:  #744343;
    margin-top: 9px;
    margin-bottom: 71px;
}

.elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
}

.layout__item {
    Width: 520px;
    Height: 428px;
    background-color:#FFFFFF;
    
}

.layout__item__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    font-size: 20px;
    line-height: 48px;
    color: #744343;
}

.amazing {
    height: 934px;
    background-color: #FFFFFF;
}

.text__amazing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
}

.p__text__amazing {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #DD7979;
}

.amazing__title {
    font-size: 48px;
    line-height: 58px;
    color: #744343;
    margin-bottom: 61px;
}

.amazing__items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    margin-left: 120px;
}

.items {
    width: 373px;
    height: 252px;

    box-shadow: 0px 10px 30px rgba(116, 67, 67, 0.1);
    border-radius: 20px;
}
.item__1 {
    background-image:
     url("../images/body/Re-Usable\ Sections.png");
     background-position: center;
}

.p__items__amazing {
    font-size: 18px;
    line-height: 28px;
    color: #744343;
    padding: 50px 59px 23px 40px;
}

.p__additional__text__amazing {
    font-size: 16px;
    line-height: 26px;
    color: #967272;
}

.p__item__1 {
    padding: 0px 59px 73px 40px;
}

.item__2{
    background-image: 
    url("../images/body/100%\ Responsive.png");
    background-position: center;
}

.p__template{
    padding: 0px 43px 3px 40px;
}

.p__item__2 {
    padding: 0px 43px 47px 40px;
}

.item__3 {
    background-image: 
    url("../images/body/great\ support.png");
    background-position: center;
}

.p__item__3 {
    padding: 0px 48px 73px 40px;
}

.sup__contact__us {
    font-size: 15px;
    line-height: 26px;
    color: #DD7979;
}

.item__4 {
    background-image: 
    url("../images/body/retina.png");
    background-position: center;
}

.p__item__4 {
    padding: 0px 77px 47px 40px;
}

.item__5 {
    background-image: 
    url("../images/body/Page\ Layouts.png");
    background-position: center;
}

.p__item__5 {
    padding: 0px 41px 47px 40px;
}

.item__6 {
    background-image: 
    url("../images/body/Enjoy\ it.png");
    background-position: center;
}

.p__item__6 {
    padding: 0px 41px 73px 40px;
}

.order__options {
    display: flex;

    background:#FFF4F4
    url("../images/body/Vector2.png")
    no-repeat;
    background-size: cover;
}

.bbbb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 30px;


    margin-top: 180px;
}

.button__order__options {
    width: 370px;
    height: 106px;
    background-color: #fff;

    box-shadow:
    0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: none;

    font-size: 16px;
    line-height: 26px;
    color: #744343;

}