
body {
 font-family: 'Inter', sans-serif;
 font-style: normal;
 font-weight: 400;
}

* {
    box-sizing: border-box;
}

p,h1,h2,h3 {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    background-color: #fff;
}

.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__list {
    display: flex;

    list-style: none;
}

.header__list a  {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #744343;
    text-decoration: none;

    margin-left: 40px;
}
 
.header__btn {
    width: 130px;
    height: 56px;

    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;

    border: none;
    border-radius: 10px;
    border-color: #DD7979 ;
    background-color: #DD7979;

}

.lunar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 135px;
    padding-bottom: 285px;

    background:  #FFF4F4
    url("../images/body/image1.png")
    no-repeat bottom 13px left 40px;
}

.lunar__title_1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: #744343;

    text-align: center;
}

.lunar__title_2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: #744343;

    text-align: center;

    margin-bottom: 34px;
}

.lunar__subtitle {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #DD7979;

    text-transform: uppercase;
    text-align: center;
}

.lunar__text {
    font-size: 18px;
    line-height: 28px;
    color: #967272;

    text-align: center;
}

.lunar__buttons{
    display: flex;
    justify-content: center;

    margin-top: 57px;
}

.lunar__btn {
    width: 166px;
    height: 58px;

    font-size: 16px;
    line-height: 26px;
    
    border-radius: 10px;
    text-align: center;
}

.lunar__btn_left {
    background-color: #DD7979;
    color: #FFFFFF;
    border: 2px solid#DD7979;
}

.lunar__btn_right {
    border: 2px solid #DD7979;
    color: #744343;
    background-color: #FFF4F4;
    margin-left: 42px;
}

.portfolio {
    border-radius: 25px;
    background-color: #DD7979;
}

.portfolio__photo {
    display: flex;
    justify-content: center;
}

.portfolio__img {
    width: 785px;
    height: 540px;
    margin-top: -170px;
}

.portfolio__blocks{
    display: flex;
}

.portfolio__block{
    display: flex;
    justify-content: center;

    width: 801px;
    height: 218px;

    background-color: #FFFFFF;
    border-radius: 50px;

    margin-top: 135px;
    margin-bottom: 121px;
}

.portfolio__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 267px;
}

.portfolio__numbers {
    height: 50px;
    line-height: 50px;

    font-weight: 700;
    font-size: 40px;
    color: #744343;
}

.portfolio__text {
    font-size: 18px;
    line-height: 28px;
    color: #DD7979;
}

.layout {
    background: #FFF4F4
    url("../images/body/Vector.png")
    no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 230px;
}

.layout__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.layout__subtitle {
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #DD7979;
    letter-spacing: 2px;
}

.layout__title{
    font-size: 48px;
    line-height: 58px;
    color:  #744343;
    margin-top: 9px;
    margin-bottom: 71px;
}

.layout__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.layout__item {
    Width: 520px;
    Height: 428px;

    background-color:#FFFFFF;
}

.layout__item_title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 88px;
    font-size: 20px;

    line-height: 48px;
    color: #744343;
}

.amazing {
    background-color: #FFFFFF;
    padding-bottom: 120px;
}

.amazing__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding-top: 120px;
}

.amazing__subtitle {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #DD7979;
}

.amazing__title {
    font-size: 48px;
    line-height: 58px;
    color: #744343;

    margin-bottom: 61px;
}

.amazing__items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    margin-left: 120px;
}

.amazing__item {
    width: 373px;
    height: 242px;
    
    box-shadow: 0px 10px 30px rgba(116, 67, 67, 0.1);
    border-radius: 20px;
}

.amazing__item_1 {
    background-image:
     url("../images/body/Re_Usable_Sections.png");
     background-position: center;
}

.amazing__text_title {
    font-size: 18px;
    line-height: 28px;
    color: #744343;

    margin: 50px auto 23px 40px;
}

.amazing__text_description  {
    font-size: 16px;
    line-height: 26px;
    color: #967272;

    margin-left: 40px;
}

.amazing__item_2 {
    background-image: 
    url("../images/body/100%_Responsive.png");
    background-position: center;
}


.amazing__item_3 {
    background-image: 
    url("../images/body/great_support.png");
    background-position: center;
}


.sup__contact__us {
    font-size: 15px;
    line-height: 26px;
    color: #DD7979;
}

.amazing__item_4 {
    background-image: 
    url("../images/body/retina.png");
    background-position: center;
}

.amazing__item_5 {
    background-image: 
    url("../images/body/Page_Layouts.png");
    background-position: center;
}

.amazing__item_6 {
    background-image: 
    url("../images/body/Enjoy_it.png");
    background-position: center;
}

.order {
    display: flex;

    padding-bottom: 236px;

    background:#FFF4F4
    url("../images/body/Vector2.png")
    no-repeat;
    background-size: cover;
}

.order__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 30px;

    margin-top: 180px;
}

.order__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 106px;

    background-color: #fff;
    box-shadow:
    0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    font-size: 16px;
    line-height: 26px;
    color: #744343;
    text-decoration: none;
}

.order__big_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 30px;

    width: 570px;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    padding-bottom: 44px;

    background-image: 
    url("../images/body/boble.png");
    background-repeat: no-repeat;
    background-position: left 265px bottom 125px;
}

.newsletter__subtitle {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #DD7979;
    text-align: center;

    margin-bottom: 18px;
}

.newsletter__title {
    font-size: 48px;
    line-height: 58px;
    color: #744343;

    text-align: center;
}

.newsletter__input {
   width: 600px;
   height: 60px;

   border: 2px solid #FFBABA;
   box-sizing: border-box;
   border-radius: 10px;

   margin-top: 127px;
   margin-bottom: 20px;
}

.newsletter__btn {
    width: 600px;
    height: 56px;

    background-color: #DD7979;
    border-color: #DD7979;
    border-radius: 10px;

    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #E5E5E5;
}

.newsletter__clicking {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    color: #744343;
    text-align: center;

    margin-top: 32px;
}

.newsletter__subscribe {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #744343;
}

.newsletter__use {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #744343;

    text-align: center;
}

.footer {
    padding: 75px 135px  0px 135px;

    background-color: #744343;
    background-image:
    url("../images/body/footer_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 42px;
    border-bottom: 1px solid #995858;
}

.footer__logo {
    width: 160px;
    height: 42px;
}

.footer__nav a {
    margin-left: 41px;
}

.footer__text {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 54px;

    border-bottom: 1px solid #995858;
}

.footer__title {
    font-size: 38px;
    line-height: 48px;
    color: #FFF4F4;
}

.footer__email {
    font-size: 16px;
    line-height: 26px;
    color: #FFBABA;

    padding-top: 20px;
}

.footer__btn {
    width: 136px;
    height: 56px;
    margin-top: 40px;
    
    background-color: #DD7979;
    border: none;
    border-radius: 10px;

    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
}

.footer__desk {
    font-size: 18px;
    line-height: 28px;
    color: #FFF4F4;

    padding-bottom: 30px;
}

.footer__links {
    display: flex;
    flex-direction: column;

}

.footer__link {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    
    margin-bottom: 34px;

    text-decoration: none;
}

.footer__ikons {
    margin-right: 100px;
}

.footer__socials {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 24px;
    color: #FFF4F4;

    margin-bottom: 10px;
}

.footer__bkgr__img__1 {
    background-image:
    url("../images/body/footer_background_ikon_1.png");
    background-repeat: no-repeat;
    padding: 0px 10px;
}

.footer__bkgr__img__2 {
    background-image:
    url("../images/body/footer_background_ikon_2.png");
    background-repeat: no-repeat;
    padding: 0px 10px;
}

.footer__bkgr__img__3 {
    background-image: 
    url("../images/body/footer_background_ikon_3.png");
    background-repeat: no-repeat;
    padding: 0px 10px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer__bottom_link {
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    color: #FFBABA;
    padding-right: 4px;
}

.footer__border {
    border-right: 1px solid #FFE2D4;
}